body {
  margin: 2em;
}

a {
  margin: 1em;
}

.hide-content{
  display:none;
}

.post-title{
  display: inline;

}


.toggle-btn {
  line-height: 1.2em;
  display: inline;
  margin: .5em;
  margin-top: 0px;
}

nav {
  margin-bottom: 1em;
}

.new-post-form{
  display: block;
  margin: 2em;
}

form {
  //border: 1px solid lightgrey;
  h3{
    margin: 2em;
  }
  margin-bottom: 2em;
}

.submit-btn{
  //margin: 2em;
}
